#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Nunito Sans", Arial, sans-serifn;
  color: #00c900;
}

.play-button {
  width: 16rem;
  height: 16rem;
  background-color: white;
  border: none;
  transition: all 0.4s;
}

.play-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
